@import '../common/input';

.header {
  width: 100%;
  background-size: 100%;
  background-image: url(/images/header-bg.jpg);
}

.concord-img-gradient {
  z-index: 1;
  height: inherit;
  position: absolute;
  top: 0;
  width: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
}

.header-content {
  height: 300px;
}

.header-content.movie-details-active {
  position: absolute;
  height: auto;
  width: 100%;
  z-index: 0;
}
