@import '../../vars';

.circle {
  position: relative;
  float: right;
  top: 40px;
  width: 30px;
  height: 30px;
  background: $netflix-background-color;
  border-radius: 50%;
  margin-right: 12px;
  z-index: 1;

  div {
    z-index: 3;
    border-radius: 50%;
    width: 3px;
    height: 3px;
    background: #fff;
    position: relative;
    top: 10px;
    left: 14px;
  }

  div:first-child {
    top: 6px;
  }

  div:last-child {
    top: 14px;
  }
}
