@import './nav';
@import './gallery';

.content {
  padding: 0 40px;
  background-color: #232323;
 }

.search-result-number {
  padding: 20px 0;
  color: rgba(225, 225, 225, 1);
  font-family: sans-serif;
}
.search-result-number span {
  color: white;
  font-family: cursive;
}
