.gallery__img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}
.movie-list .row > div {
  padding-bottom: 15px;
}
.movie-info {
  color: #9a9a9a;
  font-size: 18px;
  margin-top: 20px;
}
.main-info {
  display: flex;
  justify-content: space-between;
}
.main-info .title {
  font-family: sans-serif;
  font-weight: bold;
}
.year {
  border: solid #9a9a9a 1px;
  padding: 2px 10px;
  font-size: 16px;
}
.movie-info .genre{
  font-size: 14px;
}
