.header {
    width: 100%;
    height:300px;
    background-size: 100%;
    background-image: url(/images/header-bg.jpg);
}
.concord-img-gradient {
  z-index: 1;
  height: inherit;
  position: absolute;
  top: 0;
  width: 100%;
  background-image: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);
}
.header-top {
  display: flex;
  justify-content: space-between;
  height: 80px;
}
.logo {
  z-index: 2;
  padding: 20px 0 0 50px;
  width: 140px;
  }
.logo a {
  text-decoration: none;
  color: #F65261;
  font-size: 0px;
  font-family: monospace;
}

.logo span {
  font-size: 17px;
}

.logo .prefix{
  font-family: cursive;
  font-weight: bold;
}

.add-film {
  z-index: 2;
}
.add-film button{
  height: 35px;
  width: 141px;
  margin: 20px 50px 0 0;
  border: none;
  color: #F65261;
  background-color: rgba(85, 85, 85, 0.58);
  font-family: cursive;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
}
