.App {
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align:center;
}
.App div {
  height: 50px;
  line-height: 50px;
  border: solid 2px;
  margin-bottom: 5px;
  text-align: center;
}

div.white {
  border-color: black;
  background-color: white;
}

div.blue {
  border-color: blue;
  background-color: lightblue;
}

div.green {
  border-color: green;
  background-color: lightgreen;
}

div.yellow {
  border-color: orange;
  background-color: lightyellow;
}

div.red {
  border-color: red;
  background-color: lightcoral;
}

button {
  margin-right: 20px;
}