@import '../vars';

button.add-film {
  z-index: 2;
  height: 35px;
  width: 141px;
  margin: 20px 50px 0 0;
  border: none;
  color: $netflix-pink;
  background-color: rgba(85, 85, 85, 0.58);
  font-family: cursive;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
}
.bottom.wrapper {
  display: flex;
  justify-content: flex-end;
}
.search-input  button, button.submit  {
    height: 41px;
    background-color: $netflix-pink;
    border: none;
    color: white;
    width: 146px;
    text-transform: uppercase;
}

button.reset {
  height: 41px;
  color: $netflix-pink;
  width: 146px;
  text-transform: uppercase;
  background-color: $netflix-background-color;
  border-color: $netflix-pink;
}

button {
  &.reset, &.submit {
    border-radius: 7px;
  }
}

.search-input  button,
 button.add-film {
  border-radius: 3px;
}
