button.add-film {
  z-index: 2;
  height: 35px;
  width: 141px;
  margin: 20px 50px 0 0;
  border: none;
  color: #F65261;
  background-color: rgba(85, 85, 85, 0.58);
  font-family: cursive;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
}
