@import '../vars';

button {
  cursor: pointer;

  &.reset,
  &.submit,
  &.confirm {
    border-radius: 7px;
  }
}

button.search-button,
button.add-film {
  border-radius: 3px;
}

button.search-button,
button.confirm,
button.save,
button.submit {
  height: 41px;
  background-color: $netflix-pink;
  border: none;
  color: white;
  width: 146px;
  text-transform: uppercase;
}

button.reset {
  height: 41px;
  color: $netflix-pink;
  width: 146px;
  text-transform: uppercase;
  background-color: $netflix-background-color;
  border-color: $netflix-pink;
}

button.add-film {
  z-index: 2;
  height: 35px;
  width: 141px;
  margin: 20px 50px 0 0;
  border: none;
  color: $netflix-pink;
  background-color: rgba(85, 85, 85, 0.58);
  font-family: cursive;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
}

.bottom.wrapper {
  display: flex;
  justify-content: flex-end;
}
