@import '../vars';

input[type="date"]::-webkit-calendar-picker-indicator {
   cursor: pointer;
   filter:  invert(0.8);
}

input[type="date"]:not(.has-value):before{
   color: #858585;
   content: attr(placeholder);
}

input[type="date"]:in-range::-webkit-datetime-edit-year-field,
input[type="date"]:in-range::-webkit-datetime-edit-month-field,
input[type="date"]:in-range::-webkit-datetime-edit-day-field,
input[type="date"]:in-range::-webkit-datetime-edit-text {
 	color: transparent;
}
