@import '../vars';

.logo {
  z-index: 2;
  padding: 20px 0 0 50px;
  width: 140px;

  a {
    text-decoration: none;
    color: $netflix-pink;
    font-size: 0;
    font-family: monospace;
  }

  span {
    font-size: 17px;
  }

  .prefix {
    font-family: cursive;
    font-weight: bold;
  }
}
