@import '../vars';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 3;
}

.modal-main {
  position:fixed;
  display: flex;
  flex-direction: column;
  background: $netflix-background-color;
  width: 60%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);

  .close.top {
    font-size: 30px;
    width: 30px;
    background-color: $netflix-background-color;
    align-self: flex-end;
    border: none;
    color: white;
  }

  .modal-content {
    flex-direction: column;
    display: flex;
    padding: 10px 65px 30px;

    .modal-title{
      text-transform: uppercase;
      margin: 0 0 10px 0;
      color: white;
      font-size: 30px;
      font-family: sans-serif;
    }

    .bottom.wrapper button{
      margin-left: 10px;
    }

    label {
      color: $netflix-pink;
      padding-bottom: 5px;
      text-transform: uppercase;
      font-size: 14px;
      font-family: monospace;
    }

    input, select {
      width: 100%;
      background-color: #424242;
      border: none;
      font-size: 17px;
      margin-bottom: 25px;
      height: 45px;
      color: white;
    }
    select::placeholder,
    select option:first-child,
    input::placeholder {
      color: #858585;
    }
  }
}

.confirmation-message {
  color: white;
  font-size: 17px;
  font-family: monospace;
  padding: 35px 0;
}
