@import '../vars';

.navigation {
  display: flex;
  justify-content: space-between;
  background-color: $netflix-background-color;
  font-family: sans-serif;
  font-size: 14px;
  border-bottom: solid #555555 3px;
}
